#drawer
  background-color #CCC
  position absolute
  right 0
  top 0

  height 100%
  width 200px
  z-index 2

  transform translateX(200px)
  transition transform 1s ease-in-out

.slide
  transform translateX(0)

.move
  transform translateX(-200px)
