#drawer
  background-color darkgreen
  position absolute
  right 0
  top 0

  height 100%
  width 200px
  z-index 2

  transform translateX(200px)
  transition transform .5s ease-in-out

  &.slide
    transform translateX(0)

  a
    border-bottom 1px solid white
    color white
    display block
    padding .75rem 0
    text-align center

    &:hover
      background-color nightgreen
      color white

#toggle
  margin-right 0
  //vertical-align .8rem
  transition margin-right .5s ease-in-out

#toggle.move
  margin-right 200px
