#drawer
  background-color green
  position absolute
  right 0
  top 0

  height 100%
  width 200px
  z-index 2

  transform translateX(200px)
  transition transform .5s ease-in-out

  &.slide
    transform translateX(0)

  a
    color white
    display block
    text-align center

    &:hover
      background-color white
      color green


#toggle
  margin-right 0
  transition margin-right .5s ease-in-out

#toggle.move
  margin-right 200px
