.footer
  padding-top 2rem
  padding-bottom 2rem

  p
    font-size 11px
    color tin
    text-align center

.footer-timeline
  position absolute
  bottom 0
  left 50%
  transform translateX(-50%)

  p
    color white
    text-align center
    
  a
    color white
    text-decoration underline
    
    &:hover
      color green