// UI
//
// timeline
timeline-bg = white
active-color = charcoal
not-active-color = white

fade = all 1s ease-in

// Slide settings
//
// Heading
content-color = charcoal
// text
//
// Image

html
  overflow-x hidden

.timeline
  position relative
  overflow-x hidden

.dsk-not-supported, .dsk-supported
  background dirt
  background radial-gradient(ellipse at center, #c9c190 0%, dirt 55%, #89825c 100%);
  background-size 100% 100%

// Apply these styles as a fallback
.dsk-not-supported
  color content-color
  //text-shadow 1px 1px 0px rgba(0,0,0,.2)
  padding 1px 0

  .step
    width 100%
    margin 20px auto
    padding 20px

  .dsk-circle-date
    background none
    padding 0
    filter none
    _filter none
    font-family: Serif.font
    font-weight: Serif.weight.normal

  .dsk-info
    padding-bottom 0
    
    h2
      display none

  .dsk-circle
    font-size 36px
    color rgba(255,255,255,.8)
    text-shadow 1px 1px 1px rgba(0,0,0,.2)


.dsk-supported
  position relative
  width 100%
  min-width 100px
  margin 0 auto
  height 550px
  overflow hidden

  // Timeline bar
  .dsk-linewrapper
    height 6rem
    bottom 20%
    width 100%
    background rgba(255,255,255,.3)
    box-shadow 0 1px rgba(255, 255, 255, 0.15) inset
    position absolute
    bottom 20%
    color timeline-bg

  .dsk-wrapper
    outline none
    overflow visible !important

  // Timeline Dot not active
  .dsk-circle
    background not-active-color
    border-radius 50%
    box-shadow 0 0 2px rgba(0,0,0,.1)
    cursor pointer
    width 1rem
    height (@width)
    position relative
    transition fade
    user-select none

  .dsk-circle-date
    color not-active-color
    font-family: Serif.font
    font-weight: Serif.weight.normal
    transition fade
    transform translateX(-1rem)

  .active
    .dsk-circle
      background active-color
      background-clip padding-box
      //width 2rem
      //height (@width)

    .dsk-content
      opacity 1
      transition all 0s ease-in-out 0s

    // Timeline dot
    .dsk-circle-date
      color active-color

  .zoom
    .dsk-content
      opacity 0
      transform scale(0.5)
      transition all 0s ease-in-out 0s
  .zoom.active
    .dsk-content
        opacity 1
        transform scale(1)
        transition all 0.25s ease-in-out 0.25s

  .fade
    .dsk-content
      opacity 0
      transform scale(1)
      transition all 0s ease-in-out 0s
  .fade.active
    .dsk-content
        opacity 1
        transform scale(1)
        transition all 0.25s ease-in-out 0.25s

  .step
    width 400px
    position relative

  .dsk-nav
    position absolute
    //height 32px
    top 30%
    right 10px
    width 30px

    span
      background url(img/prev.png) no-repeat center center rgba(255,255,255,.3)
      border-radius 3px
      box-shadow 0 1px rgba(255, 255, 255, 0.25) inset
      cursor pointer
      display inline-block
      width 30px
      height 30px

      margin 0 1px
      transition background-color 0.3s ease-in

      &:hover
        background-color rgba(255,255,255,.5)

    .dsk-pre
      border-radius 3px 0 0 3px

    .dsk-next
      border-radius 0 3px 3px 0
      background-image url(img/next.png)
      //margin-right 20px

    .dsk-autoplay
      background-image url(img/play.png)

    .playing
      background-image url(img/pause.png)

  .dsk-content
    position absolute
    bottom 6rem
    min-height 400px
    width 800px
    left -200px
    opacity 0
    display table
    
    +desktop()
      bottom 6rem
      min-height 400px
      width 1000px
      left -300px
      
    +mobile()
      top -1000px
  
  .no-image
    text-align center

  //
  // Edit slide typography here
  .dsk-info
    display table-cell
    vertical-align middle
    padding-right 20px

    width 50%
    +mobile()
      display table-row
    //text-shadow 2px 2px 2px rgba(0,0,0,.2)

    .date__heading
      color content-color
      margin 0 0 20px 0
      font-weight normal

    p
      color content-color
      font-size 1.25rem
      margin 0

  .dsk-year-info
    font-size 24px
    padding 10px



  img
    width 100%
    height auto


  .media
    display table-cell
    vertical-align middle
    height 500px
    width 50%
    
    +mobile()
      display table-row
    // position absolute
    // right 0px
    // top 0px


// End slide typography here
//

.dsk-fullscreen
  width 100%
  height 100%


@media screen, (max-width: 650px)
  .dsk-supported
    height 400px

.footer-timeline
  padding-top 2rem
  position absolute
  bottom 1.5rem
  left 50%
  transform translateX(-50%)

  +tablet()
    bottom 0.5rem

  p
    font-size 11px
    color white
    text-align right
    
    +mobile()
      text-align center
    
#step-0
  p
    display block
    +mobile()
      display none

  .mobile-only
    display none
    
    +mobile()
      display block
      
#back-to-top
  display none
  
  +mobile()
    display block
    position fixed
    bottom 0px
    right 0px
    fill darkgreen
    
.read-more-link
  color darkgreen
  fill darkgreen
  
  & > .icon--ei-external-link
    left -5px
      
  &:hover
    fill nightgreen
    
.video-popup
  margin 0 auto
  overflow hidden
  position relative
  width 50%
  
  video
    width 100%
    height 100%
    display inline-block