// Vars
base-font-size = 20px
base-line-height = 1.5


// Typefaces
typeface = {
  sans: News Cycle,
  serif: Playfair Display
}



// Font weights
xlight = 200
light = 300
normal = 400
semibold = 600
bold = 700


// Line height function
line-height()
  base-font-size * base-line-height


// Var must be specified after returning the line-height function
cal-line-height = line-height()


html
  font-size: base-font-size
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased


body
  color charcoal
  line-height 1.5
  font-family: typeface.sans, sans-serif
  //background-image: linear-gradient(transparent, transparent line-height() - 1px, green 1px , transparent)
  background-size auto line-height()
  margin 0


[class*='__heading']
  color green
  font-family: typeface.serif, serif
  font-size 2.5rem
  font-weight normal
  line-height 1
  margin-bottom 2rem


// Anchor text
a
  text-decoration: none
  color: green
  &:hover
    color: nightgreen
    text-decoration: underline


// Buttons
[class*='__button']
  border 2px solid green
  color green
  display inline-block
  padding .5rem 1rem

  &:hover
    background-color green
    color white
    text-decoration: none


// Content Areas
[class*='content']
  // Add margin bottom to all elements inside this container
  & > *
    margin-bottom 1.5rem
