---
class: timeline
title: 150 Years of Building Commerce
description: As we mark the 150th anniversary of the bank, we have selected some of the important milestones we have passed along the way to reflect on both the work and the sustained values that have built the Commerce Bank of today.
---
  
  
  
extends ../layout/timeline-base

block seo
  title= title
  meta(name="description" content="#{description}")


block content
    
  #dasky
    .step.year
      .dsk-titlenode  2012 
      .dsk-content
        p.dsk-year-info  A Timeline Slider For You!  :) 
    .step
      .dsk-circle 05/01
      h2.dsk-circle-title Daskey Timeline Slider
      .dsk-content
        .dsk-info
          h2 Daskey Timeline Slider 
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...
          a.dsk-link(href="#") Read More
        img(src="/img/1.png", alt="")
    .step
      .dsk-circle 12/16
      h2.dsk-circle-title Stylish Appearance
      .dsk-content
        .dsk-info
          h2 Stylish Appearance 
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...
          a.dsk-link(href="#") Read More
        img(src="/img/2.png", alt="")
    .step.year
      .dsk-titlenode  2013 
      .dsk-content
        p.dsk-year-info  Use For Prouct Timeline , Showcase And So On! 
    .step
      .dsk-circle 01/20
      h2.dsk-circle-title Fallback To Old Browsers
      .dsk-content
        .dsk-info
          h2 Fallback To Old Browsers 
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...
          a.dsk-link(href="#") Read More
        img(src="/img/3.png", alt="")
    .step
      .dsk-circle 07/15
      h2.dsk-circle-title CSS3 Animated
      .dsk-content
        .dsk-info
          h2 CSS3 Animated 
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...
          a.dsk-link(href="#") Read More
        img(src="/img/4.png", alt="")
    .step
      .dsk-circle 11/03
      h2.dsk-circle-title Easy To Use
      .dsk-content
        .dsk-info
          h2 Easy To Use
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc...
          a.dsk-link(href="#") Read More
        img(src="/img/5.png", alt="")
