doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    block seo

    link(href="http://fonts.googleapis.com/css?family=Playfair\+Display:400,400italic,700,900", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=News\+Cycle:400,700", rel="stylesheet", type="text/css")
    
    link(rel="stylesheet" type='text/css', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel='stylesheet', type='text/css', href='style.css')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='js/vendor/jmpress.min.js')
    script(src='js/vendor/modernizr.js')
    script(src='js/vendor/dasky.js')
    script(src='js/vendor/magnific.js')
    script(src='js/drawer.js')
    script(src='js/lightbox.js')
    script(type="text/javascript").
      $( document ).ready( function(){
        $('#dasky').Dasky({mousewheel: false});
        $('body').removeClass('hidden');
      });

    link(rel="shortcut icon", sizes="16x16 24x24 32x32 48x48 64x64", href="favicon.ico")
    link(rel="apple-touch-icon", sizes="57x57", href="img/favicon-57.png")
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="img/favicon-57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicon-72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/favicon-114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicon-120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/favicon-144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon-152.png")
    meta(name="application-name", content="Commerce Trust")
    meta(name="msapplication-TileImage", content="img/favicon-144.png")
    meta(name="msapplication-TileColor", content="#006547")

  body.timeline.hidden
    
    #drawer
      a(class="video-trigger" href="#") Watch video
      a(href="#step-0") Welcome
      a(href="#step-1") 1865 - 1900
      a(href="#step-8") 1901 - 1920
      a(href="#step-17") 1921 - 1940
      a(href="#step-24") 1941 - 1960
      a(href="#step-29") 1961 - 1980
      a(href="#step-34") 1981 - 2000
      a(href="#step-43") 2001 - Present
      a(href="img/timeline.pdf", download) Download Timeline
      a(href='http://www.facebook.com/commercebank', target='_blank')
          i.fa.fa-facebook
      a(href='http://www.linkedin.com/company/commerce_bank', target='_blank')
          i.fa.fa-linkedin-square
      a(href='https://twitter.com/CommerceBank?rd=1', target='_blank')
          i.fa.fa-twitter

    a#back-to-top(href="#timeline-header")
      i.fa.fa-arrow-up.fa-2x

    header.header(id="timeline-header")
      .header__logo--col-4-12
        a(href="index.html")
          img(src='img/CommerceFDIC.png', alt='Commerce Bank logo')
      .header__social-nav--col-8-12
        a(href='http://www.facebook.com/commercebank', target='_blank')
          i.fa.fa-facebook.fa-2x
        a(href='http://www.linkedin.com/company/commerce_bank', target='_blank')
          i.fa.fa-linkedin-square.fa-2x
        a(href='https://twitter.com/CommerceBank?rd=1', target='_blank')
          i.fa.fa-twitter.fa-2x
        a#toggle(href='#')
          i.fa.fa-bars.fa-2x

    block content
  
    footer.footer-timeline
      .footer
        p
          | Copyright &#169; 2015 Commerce Bancshares, Inc. Member FDIC. All Rights Reserved. 
          a(href="https://www.commercebank.com/about/security-center/privacy.asp", target="_blank") Privacy 
          |  | 
          a(href="https://www.commercebank.com/sitemap/", target="_blank") Site Map

    include ../inc/scripts
